<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de formulário HTML com VueJS - Fundamentos de web</title>

    <!-- Vínculo com o Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body>
    <center>
        <h1> Cadastro de Animais de Estimação</h1>
        <h3> Clínica Veterinária - Fundamentos de Web</h3>
    </center>

    <div id="app"></div>


    <!--Adicionando o script do Vue.JS na nossa página, vamos trabalhar no modo desenvolvedor-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    

    <!--Novo Script, será neste espaço que todo o código JavaScript será alocado-->
    <script>
        new Vue({   //Criando uma instancia do Vue.js
            el: '#app',   //Realiza a ligação do script Vue.js com a div no HTML onde o conteúdo será inserido

            //A propriedade template define a aparência do conteúdo
            template: `   
            
           <div class="container">
                <h2>Lista de Espera - Animais </h2>
                <hr>
                <div class="form-todo form-group">
                    <p>
                        <input type="text" placeholder="Digite o nome do tutor animal" name="tutor" class="form-control" v-model="tutor">
                    </p>
                    <p>
                        <input type="text" placeholder="Digite o nome do animal" name="animal" class="form-control" v-model="animal">
                    </p>
                    <p>
                        <textarea placeholder="Descrição do Animal" name="pet" class="form-control" v-model="descricao"></textarea>
                    </p>
                    <button v-on:click="addPet" type="submit" class="btn btn-primary">Cadastrar</button>
                </div>   

                <!--seção onde serão apresentadas as informações cadatradas-->
                <div class="list-group">
                    <!--pets é o vetor (definido em data) onde ficarão as informações dos animais-->
                    <div class="list-group-item" v-for="(pet, index) in pets">
                        <span class="pet_tutor">Pet: <strong>{{ pet.animal }}</strong> </span>
                        <p>{{ pet.tutor }}</p>
                        <p>{{ pet.descricao }}</p>
                        <div>
                            <a href="#" title="Excluir" v-on:click.prevent="removePet(index)">Excluir</a>
                        </div>
                    </div>


                </div>
                <hr> 
            </div> `,

            data(){
                return{
                    pets:[],
                    tutor: '',
                    animal: '',
                    descricao:''
                }
            },

            methods:{
                //Função responsável por adicionar um item na lista
                addPet() {


                    //Código para evitar a inserção de um item em branco
                    if (this.animal.trim() === '' || this.descricao.trim() === '' || this.tutor.trim() === ''){
                        return;
                    }
                    
                    //Adiciona um item na lista
                    this.pets.push({
                        tutor: this.tutor,
                        animal: this.animal, 
                        descricao: this.descricao
                    });

                    //Limpa os campos após a inserção
                    this.tutor = '';
                    this.animal = '';
                    this.descricao = '';

                },

                //Função para remoção de um item da lista
                removePet(index){
                    this.pets.splice(index, 1);

                }
            }
        })     
            
        
    </script>

</body>
</html>