@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    padding: 20px;
    gap: 30px;
    margin: 10px 0 5px 0;
}
#dados h1{
    color: darkblue;
    font-size: 35px;  
}
#dados h2{
    color: black;
    font-size: 25px;  
}
ul{
    list-style: inside;
    color: black;
}
ol{
    list-style-position: inside;
    color: black;
}
#head img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
#tecnologias{
    width: 650px;
    margin: 5px 0 5px 0;
    padding: 0 20px;
}
.titulo{
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 139, 0.3);
    backface-visibility: 20%;
}
#experiencias{
    width: 650px;
    margin: 5px 0 5px 0;
    padding: 0 20px;
}
#formacao{
    width: 650px;
    margin: 5px 0 5px 0;
    padding: 0 20px;
}
h4{
    color: darkblue;
}